.taskButton:hover button{
    display: inline-block;
}

button {
    display: none;
    background: none;
    font-size: 10px;
    border: none;
}

.task{
    background-color: white
}

.list{
    background-color: whitesmoke;
    text-align: center;
}

.card{
    background-color: white;
    display: inline-block;
}

.taskItem {
    border-bottom: 1px solid#c2c2c2;
}